#upim{
     height: 400px;
     width: 1280px;
     border-top: 50px;

}
.button{
     border: 2px solid gold;
}
#pier{
     border-radius: 0 150px 150px 0;
    width: 300px;
    height: 300px;
    z-index: 2;
    left: 150px;
}
#dru{
     border-radius: 0 150px 150px 0;
    width: 300px;
    height: 300px;
    z-index: 1;
    top: 120px;
    left: 40px;
}
#trze{
     border-radius: 0 150px 150px 0;
    width: 300px;
    height: 300px;

}
#czw{
     border-radius: 0 150px 150px 0;
    width: 300px;
    height: 300px;
}
#pi{
     border-radius: 0 150px 150px 0;
    width: 300px;
    height: 300px;
}
details{
     position: absolute;
     right: 0px;
     top: 30px;
}
.container {
     border: 1px solid color #000;
     display: flex;
     width: 300px;
     flex-wrap: nowrap;
}
.item{
     margin: 5px;
     padding: 5px;
     background-color: blueviolet;
     border-radius: 10px;
     box-shadow: 0 0 1em 0 rgb(18, 167, 5);
}




